body{
    
    font-family: "Share Tech", sans-serif;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

/*Navigation Bar*/
.navbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;

  margin-top: 55px;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: #FFFFFF;
font-family: "Share Tech", sans-serif;
}

.logo-container{
      flex: 1;
}

.logo{

  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}


.menu-container {
  flex: 6;

}

.menu-list {
  display: flex;
  list-style: none;

   
   button{
    background-color: #1C1C1C;
    border: none;
    color: white;
    font-family: "Share Tech", sans-serif;
    font-size: 1.1rem;

    
  }

  button:hover{
    cursor: pointer;
  }
}

.menu-list-item {
  margin-right: 30px;
}

.navbar input[type=text] {
  float: right;
  padding: 3px;
  border: 2px;
  margin-top: 0px;
  margin-right: 90px;
  font-size: 17px;
  border-radius: 45px;
      font-family: "Share Tech", sans-serif;
}

/*Favourites grid*/
main {
    margin-top: 30px;
}

section {
    margin-bottom: 60px;
}

.row-title {
    margin-bottom: 10px;
    letter-spacing: 1px;
      padding: 0 20px;
    margin-left: 50px;

}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Larger grid items */
    gap: 35px;                /* Slightly more breathing room */
    max-width: 1250px;        /* Wider container */
    margin: 60px auto;        /* Equal vertical & horizontal spacing */
    padding: 0 50px;          /* Even side padding */
    justify-items: center;    /* Centers each grid item */
}

.movie-grid img {
    width: 100%;
    max-width: 400px;         /* Increased size */
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-grid img:hover {
    transform: scale(1.05);
}